body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

#connect-form {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f9f9fa;
  z-index: 2;
}

#connect-button {
  background: none;
  border: 1px solid gray;
  color: gray;
  font-size: 5vw;
  font-weight: 100;
}

#room-label {
  font-weight: 400;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0c0c0d;
  width: 100%;
  height: 100%;
}

#presenter {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#presenter-stream {
  height: 100%;
}

#audiences {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
}

.audience {
  clip-path: circle(36%);
  height: 100px;
  width: 100px;
  background-color: #f9f9fa;
}

.selected-audience {
  background-color: #ff1ad9;
}

.audience-stream {
  pointer-events: none;
  clip-path: circle(36%);
  height: 90px;
  width: 90px;
  position: relative;
  top: 5px;
  left: 5px;
}

.point {
  pointer-events: none;
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: transparent;
  background-image: url(point.png);
  background-size: contain;
  transform: translateY(-40%);
  animation: point-hide 4s forwards;
}

@keyframes point-hide {
  from {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#controller {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: end;
  width: 100%;
  padding-top: 16px;
  z-index: 1;
}

#controller button {
  width: 100px;
  height: 100px;
  background-color: transparent;
  background-size: cover;
  border: none;
  outline: none;
}

#camera-switching {
  margin-right: 16px;
  margin-left: 16px;
  background-image: url(./images/camera-switching.svg);
}

#camera-muting {
  background-image: url(./images/camera-muting.svg);
}

#camera-muting.disabled {
  background-image: url(./images/camera-muting-disabled.svg);
}

#audio-muting {
  background-image: url(./images/audio-muting.svg);
}

#audio-muting.disabled {
  background-image: url(./images/audio-muting-disabled.svg);
}
